@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #EFEEE8;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  background-color: #000;
  height: 3px;
  width: 90%;
  margin: 0 auto;
}

.row {
  padding: 0 100px;
  margin: 0 auto;
}

.container {
  padding: 4rem 0;
}


/* nav */
#home_nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.nav--container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 32px 32px;
}

.nav_list {
  display: flex;
  align-items: center;
}

.nav_link {
  margin-left: 120px;
  font-weight: 200;
}

.contact_button {
  border: 1px solid #000;
  border-radius: 100px;
  padding: 4px 32px;
  transition: background-color 300ms ease;
}

.contact_button:hover {
  background-color: #FFF;
}



/* home */
#home {
  position: relative;
  width: 100%;
  height: 100vh;
}

.home_text--container {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
}

.home_title {
  font-size: 48px;
  font-weight: 200;
}

.home_para {
  font-size: 24px;
  font-weight: 200;
}

#logo--wrapper {
  position: absolute;
  right: 400px;
  top: 30%;
  transform: translateY(-50%);
  z-index: 40;
  animation: float 3s ease-in-out infinite;
}

.home_circle {
  position: absolute;
  right: 500px;
  top: 30%;
  z-index: 50;
  animation: circle_float 2s ease-in-out infinite;
}

.home_circle--2 {
  width: 50px;
  position: absolute;
  right: 600px;
  top: 49%;
  z-index: 1;
  animation: circle_float 2s ease-in-out infinite;
}

.home_circle--3 {
  width: 80px;
  position: absolute;
  right: 400px;
  top: 60%;
  z-index: 80;
  animation: circle_float 2s ease-in-out infinite;
}

@keyframes float {
  0%,100% {transform: translateY(0px);}
  50% {transform: translateY(-10px);}
}

@keyframes circle_float {
  0%,100% {transform: translateY(0px);}
  50% {transform: translateY(15px);}
}


/* About */
#about {
  position: relative;
}

.italic {
  font-weight: 200;
  font-style: italic;
}

.company_statement {
  font-weight: 300;
  margin-top: 32px;
}

.company_statement--end {
  margin-top: 40px;
  position: absolute;
  font-weight: 300;
  right: 100px;
}

.tela_shape {
  width: 120px;
  bottom: 0;
  margin-top: 10%;
  animation: circle_float 2s ease-in-out infinite;
}

.rectangle {
  position: absolute;
  top: 32px;
  right: 200px;
  animation: circle_float 2s ease-in-out infinite;
}
