@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Poppins", sans-serif; */
/* font-family: "Raleway", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #181818;
  --white-color: #F8F8FF;
  --green-color: #A8D5BA;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: var(--white-color);
}

p, a, span {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--black-color);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 8rem 0;
}

.row {
  padding: 0 56px;
}

.medium-weight {
  font-weight: 300;
}

.light-weight {
  font-weight: 200;
}

/* landing page */

/* --nav */
nav {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav_container {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tela__logo {
  width: 40px;
}

.color_mode {
  width: 20px;
  height: 8px;
  background-color: var(--white-color);
  border: none;
  border-radius: 100px;
}

.color_mode:hover {
  cursor: pointer;
}

.nav_list {
  display: flex;
  gap: 100px;
}

.nav_link {
  color: var(--white-color);
  font-weight: 100;
}

.contact_link {
  border: 1px solid var(--white-color);
  padding: 4px 32px;
  border-radius: 100px;
}

/* --header */
.title--container {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  z-index: 2;
}

.tela_creation {
  width: 80%;
}

.landing_page--sub-heading {
  color: var(--white-color);
}

/* circles_landing_page */
#home {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 5;
}

.circle_1 {
  position: absolute;
  right: -400px;
  bottom: -100px;
  width: 700px;
  z-index: 1;
}

.circle_2 {
  position: absolute;
  right: 50px;
  bottom: -200px;
  width: 400px;
}

.circle_3 {
  position: absolute;
  right: -20px;
  bottom: -100px;
  width: 200px;
}

#about {
  position: relative;
  background-color: var(--black-color);
  z-index: 10;
  min-height: 100vh;
  margin-top: 100vh;
}

#about > h1, p {
  color: var(--white-color);
  letter-spacing: 2px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--white-color);
  margin-top: 24px;
}

.company_name {
  margin-bottom: 24px;
}

.company_meaning {
  margin-top: 8px;
}

.company_message--container {
  margin-top: 100px;
  width: 100%;
}

.company_message {
  margin-bottom: 32px;
  line-height: 1.5rem;
  font-weight: 100;
}

.about_section--circles {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}




/* services */
.section--header {
  font-size: 100px;
  font-weight: 100;
}

services--container {
  border: 1px solid red;
}
