@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Poppins", sans-serif; */
/* font-family: "Raleway", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #181818;
  --white-color: #F8F8FF;
  --green-color: #A8D5BA;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif
}

p, a, span {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--black-color);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* landing page */

/* --nav */
.nav_container {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tela__logo {
  width: 40px;
}

.color_mode {
  width: 20px;
  height: 8px;
  background-color: var(--white-color);
  border: none;
  border-radius: 100px;
}

.nav_list {
  display: flex;
  gap: 100px;
}

.nav_link {
  color: var(--white-color);
  font-weight: 100;
}

.contact_link {
  border: 1px solid var(--white-color);
  padding: 4px 32px;
  border-radius: 100px;
}

/* --header */
.title--container {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  z-index: 2;
}

.tela_creation {
  width: 80%;
}

.landing_page--sub-heading {
  color: var(--white-color);
}

/* circles_landing_page */
#home {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.circle_1 {
  position: absolute;
  right: -400px;
  bottom: -100px;
  width: 700px;
  z-index: 1;
}

.circle_2 {
  position: absolute;
  right: 50px;
  bottom: -200px;
  width: 400px;
}

.circle_3 {
  position: absolute;
  right: -20px;
  bottom: -100px;
  width: 200px;
}